{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
               
                <section class="slider-area ">
                    <div class="slider-active">
                    
                        <div class="single-slider slider-height d-flex align-items-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-7 col-md-12">
                                        <div class="hero__caption">
                                            <h1 data-animation="fadeInLeft" data-delay="0.2s"><b>Srishti</b> <br>higher-secondary School</h1>
                                            <p data-animation="fadeInLeft" data-delay="0.4s"> Special attention is also paid in Srishti to nurture education in an environment of breezy freedom and unparalleled personal rapport</p>
                                            <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Explore Srishti</a>
                                        </div>
                                    </div>
                                </div>
                            </div>          
                        </div>
                    </div>
                </section>

            
    </main>
    <div>
        <section>
 
        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">
            <div class="welcome-section">
                <h2 class="small">Welcome to Srishti higher-secondary School   Chengam</h2>
                <img src="{% static 'example/images/outer.jpg' %}" alt="School Image" class="schoolimg">
                <div class="subcontent">
                    <h1 class="big " data-aos="fade-up"  data-aos-delay="100" data-aos-duration="300">Welcome to Srishti higher-secondary School, Chengam</h1>
                    <p>
                        Srishti places a unique emphasis on personality development. Recognizing the crucial truth that success in the modern world depends on excellence in a chosen field, Srishti seeks to cultivate individual talents and helps the students pursue excellence in their field of interests. Special attention is also paid in Srishti to nurture education in an environment of breezy freedom and unparalleled personal rapport.
                    </p>
                </div>
            </div>
        </div>

       
   <!-- Top Students Section -->
    <div class=" top-stu-sec">
        <h1 class="a-head" data-aos="fade-down"  data-aos-delay="100" data-aos-duration="300" >Our School Toppers</h1>
    <div class="container-fluid top-students ">
        <div>
           
            <div class="student-card"  data-aos="fade-left" data-aos-delay="100" data-aos-duration="500">
            
            <img src="{% static 'example/images/student1.png' %}" alt="Student 1">
            <div class="card-content">
                <h3 style="color: whitesmoke; font-size: 16px;">M.Abishek</h3>
                <p>494/500</p>
            </div>
        </div>
    </div>
        
      
        <div class="student-card "  data-aos="fade-up" data-aos-delay="100" data-aos-duration="500">
            <img src="{% static 'example/images/student2.png' %}" alt="Student 2">
            <div class="card-content">
                <h3 style="color: whitesmoke; font-size: 16px;">P.Mahalakshmi</h3>
                <p>485/500</p>
            </div>
        </div> 
        <div class="student-card"  data-aos="fade-right" data-aos-delay="100" data-aos-duration="500">
            <img src="{% static 'example/images/student3.png' %}" alt="Student 3">
            <div class="card-content">
                <h3 style="color: whitesmoke; font-size: 16px;">P.Sanmugapriyan</h3>
                <p>480/500</p>
            </div>
        </div>
    </div>
    </div>

    <section class="facilities-section">
        <div class="container">
            <h2 class="text-center pt-5 font-size-5 z-2" data-aos="fade-down" data-aos-delay="100" data-aos-duration="300">Facilities at Our School</h2>
            <div class="services-card">
                <div class="container">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-4 col-md-6 col-sm-8 ">
                            <div class="single-services mb-30 ">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/icon1.svg' %}" alt="Well-Ventilated Classrooms Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Well-Ventilated Classrooms</h3>
                                    <p>Our classrooms are designed to provide a healthy and comfortable learning environment.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-services mb-30">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/icon2.svg' %}" alt="Separate Classrooms for Boys and Girls Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Separate Classrooms for Boys and Girls</h3>
                                    <p>We maintain separate classrooms for boys and girls to ensure a focused learning atmosphere.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-services mb-30">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/icon3.svg' %}" alt="Special Training Programs Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Special Training Programs</h3>
                                    <p>We offer specialized training in computer skills, silambam (a traditional martial art), yoga, and karate.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-services mb-30">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/voice-presentation-svgrepo-com.svg' %}" alt="Excellence in Spoken English and Handwriting Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Excellence in Spoken English and Handwriting</h3>
                                    <p>We provide high-quality training in spoken English and handwriting with experienced instructors.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-services mb-30">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/book-and-person-summer-svgrepo-com.svg' %}" alt="Monthly Learning Assessments Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Monthly Learning Assessments</h3>
                                    <p>Regular learning evaluations are conducted, and the results are shared with parents to keep them informed of their child's progress.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8">
                            <div class="single-services mb-30">
                                <div class="features-icon">
                                    <img src="{% static 'example/assets/img/icon/refund-svgrepo-com.svg' %}" alt="Fee Refund for High Scorers in 12th Grade Icon">
                                </div>
                                <div class="features-caption">
                                    <h3>Fee Refund for High Scorers in 12th Grade</h3>
                                    <p>Students who score above 20 marks in the 12th grade examinations will receive a one-year fee refund.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    {% endblock content %}