@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lilita+One&family=Pacifico&family=Passion+One:wght@700;900&display=swap');
.news-section {
    background: #ffffff;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(2px);
    background-color: rgba(235, 235, 235, 0.658); /* Use rgba for transparency effect */
    transition: background-color 0.3s ease, padding 0.3s ease; /
}

.news-marquee {
    display: inline-block;
    white-space: nowrap;
    font-family: Fugaz One;
    
}

.news-marquee p {
    display: inline-block;
    font-size: 2.5em;
    color: #000000;
    background: #ffa500;
    padding: 10px 0;
    border: 2px solid #333;
    border-radius: 5px;
    
}

