/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poetsen+One&family=Rowdies:wght@300;400;700&display=swap');
body {
    
    margin: 0;
    padding: 0;
}


/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(2px);
    background-color: rgba(115, 188, 224, 0.98); /* Use rgba for transparency effect */
    transition: background-color 0.3s ease, padding 0.3s ease; /
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    
}

.navbar.scrolled {
    backdrop-filter: blur(9px);
    background-color: rgba(247, 251, 255, 0.174); /* Adjusted color with transparency */
    padding: 0.2rem 2rem; /* Adjusted padding for smaller navbar */
    
}



.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-menu li {
    justify-content: space-around;
    
    padding: 15px;
}

.navbar-menu li a {
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    transition: color 0.3s;
    font-weight: 500;
    
}

.navbar-menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #0319aa;
    transition: width 0.3s;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

.navbar-menu li a:hover {
    color: #0319aa;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.block{
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}


@keyframes slide-in {
    from {
        transform: translateX(0%);
        opacity: 0;
    }
    to {
        transform: translateX(100%);
        opacity: 1;
    }
}



@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color:rgb(0, 98, 197);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar-menu {
        position: absolute;
        top: 65px;
        left: -100%;
        width: 100%;
        height: 330px;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        transition: left 0.3s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        z-index: 15;
        
    }

    .navbar-logo {
        font-size: 20px;
        font-weight: bold;
    }

    .navbar-menu li {
        margin:  0;
    }

    .navbar-menu li a {
        color: #ffffff;
    }

    .navbar-menu li a::after {
        background-color: #00e5ff;
    }

    .navbar-menu li a:hover {
        color: #00e5ff;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(14px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}






#logo-text::after {
    content: 'Srishti higher-secondary School';
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 1s steps(30, end), blink-caret 0.75s step-end infinite;
    color: rgb(0, 0, 0);
    
}


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


.carousel-container {
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 5;
    

    
}


/* Carousel slide */
.carousel-slide {
    display: flex;
    image-resolution: 1080px;
    transition: transform 0.5s ease-in-out;
    height: 700px;
}

/* Carousel image */
.carousel-image {
    min-width: 100%;
    top: 20px;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(1.1); }
    to { opacity: 1; transform: scale(1); }
}

.carousel-image {
    animation: fadeIn 1.5s;
}



.welcome-section {
    display: flex;
    padding: 2rem;
    text-align: center;
    background-color: #3663acc9;
    border-radius: 10px;
    opacity: 8;
    transform: translateY(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    margin-left: 0%;
    color: whitesmoke;
    
}
.schoolimg{
    width: 500px;
    height: 400px;
    margin: 20px;
    border-radius: 9px;
}

.welcome-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    line-height: 3rem;
}

.welcome-section p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    line-height: 2;
    color: #333;
}
.small{
    display: none;
}
.subcontent{
    margin-top: 10%;
    
}

/* AOS library styles for smooth scrolling animations */
[data-aos] {
    opacity: 9 !important;
    transform: translateY(1) !important;
}


/* Responsive adjustments */



.containermain{
    padding:2%;
    width: 100%;
    text-align: center;
    z-index: 15;
}

.containerr{
    position: relative;
    width:100%;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    overflow: hidden;
    z-index: 15;
    
}


.containerr .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}



.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover{
    background: #ababab;
    color: #fff;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}



      
/* top students section */

.top-stu-sec{
    overflow: hidden;
    margin-top: 10%;
    text-align: center;
}

.top-students {
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
    overflow: hidden;

}
.student-card {
    background-color: #dfb9df45;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
    margin:10px;
    text-align: center;
    width: 300px;
    backdrop-filter: blur(10px);

    
}
.student-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px;
    width: 100%;
    height: fit-content;
}
.student-card .card-content {
    padding: 20px;
    text-align: center;
}
.student-card h3 {
    margin: 10px 0;
}
.student-card p {
    color: #555;
}


/* style.css */

@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
        
    }
    .carousel-image {
        min-width: 100%;
        transition: transform 0.5s ease-in-out;
        object-fit: cover;
        height: 400px;
    }

    .carousel-slide {
        display: flex;
        image-resolution: 1080px;
        transition: transform 0.5s ease-in-out;
        height: 400px;
    }
    .welcome-section {
        
        padding: 1rem;
        display: block;
        text-align: center;
        background-color: #0054a8;
        width: 100%;
        max-width: 800px;
        border-radius: 10px;
        opacity: 8;
        transform: translateY(100px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
        margin-left: 0%;
    }
    .schoolimg{
        width: 300px;
        height: 300px;
        margin: 0%;
        bottom: 10px;
    
    }
    .big{
        display: none;
    }
    .small{
        display: block;
    }


    .containerr .slide .item{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 30px 50px #505050;
        background-position: 50% 50%;
        background-size: cover;
        display: inline-block;
        transition: 0.5s;
    }

    .containermain{
        margin-top: 20%;
        padding:0;
        width: 100%;
        text-align: center;
    }
    .containerr{
        
        margin-top: 5%;
        position: absolute;
        width:100%;
        height: 600px;
        background: #f5f5f5;
        box-shadow: 0 30px 50px #dbdbdb;
        overflow: hidden;
        margin: 0;
    }
    .slide .item:nth-child(1),
    .slide .item:nth-child(2){
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }


    .slide .item:nth-child(3){
        left: 50%;
    }
    .slide .item:nth-child(4){
        left: calc(50% + 220px);
    }
    .slide .item:nth-child(5){
        left: calc(50% + 440px);
    }

    /* here n = 0, 1, 2, 3,... */
    .slide .item:nth-child(n + 6){
        left: calc(50% + 660px);
        opacity: 0;
    }



    .item .content{
        position: absolute;
        top: 50%;
        left: 100px;
        width: 300px;
        text-align: left;
        color: #eee;
        transform: translate(0, -50%);
        font-family: system-ui;
        display: none;
    }


    .slide .item:nth-child(2) .content{
        display: block;
    }


    .content .name{
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        opacity: 0;
        animation: animate 1s ease-in-out 1 forwards;
    }

    .content .des{
        margin-top: 10px;
        margin-bottom: 20px;
        opacity: 0;
        animation: animate 1s ease-in-out 0.3s 1 forwards;
    }

    .content button{
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        opacity: 0;
        animation: animate 1s ease-in-out 0.6s 1 forwards;
    }

    .top-stu-sec{
        overflow: hidden;
        margin-top: 28%;
        text-align: center;
    }
    
    .top-students {
        display: flex;
        justify-content:space-evenly;
        margin-top: 50px;
        overflow: hidden;
        height: 50%;

    }
    .student-card {
        background-color: #bb00bb45;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.418);
        margin:10px;
        text-align: center;
        width: 500px;
        
        

        
    }
    .student-card img {
        border-top-left-radius: 50px;
        border-top-right-radius: 30px;
        padding: 5%;
        width: 100%;
        height:fit-content;
    }
    .student-card .card-content {
        padding: 10px;
        text-align: center;
    }
    .student-card h3 {
        margin: 10px 0;
        font-size: 15px;
    }
    .student-card p {
        color: #555;
    }

}



.event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px; /* Ensure there's some space to scroll into view */
}



.event-item.left {
    transform: translateX(-100%);
}

.event-item.right {
    transform: translateX(100%);
}

.event-item.visible {
    opacity: 1;
    transform: translateX(0);
}


.event-item {
    width: 100%;
    margin: 50px 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    border-radius: 10px;

} 


.card{
    height: 100%;
    background-color: #00e5ff6f;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.card-text {
    flex-grow: 1;
    color: #666;
}


.fcard{
    background-color: #00e5ff95;
}