/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-left: 1.5rem;
}

.navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-menu li a:hover {
    color: #007BFF;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .navbar-menu {
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        transition: left 0.3s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .navbar-menu li {
        margin: 1rem 0;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}

#logo-text::after {
    content: 'Srishti Matriculation School';
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


.carousel-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    
}

/* Carousel slide */
.carousel-slide {
    display: flex;
    height: 600px;
    image-resolution: 1080px;
    transition: transform 0.5s ease-in-out;
}

/* Carousel image */
.carousel-image {
    min-width: 100%;
    top: 20px;
    transition: transform 0.5s ease-in-out;
    object-fit: cover;
}

/* Fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(1.1); }
    to { opacity: 1; transform: scale(1); }
}

.carousel-image {
    animation: fadeIn 1.5s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel-container {
        width: 100%;
    }
}